{% extends "base.html" %}
{% load static %}

{% block title %}
    Query Reports
{% endblock title %}

{% block extra_stylesheets %}
    <style>
    .span6 canvas {
        width: 100%;
        height: 350px;
    }
    </style>
{% endblock extra_stylesheets %}

{% block extra_javascript %}
    <script src="{% static "js/Chart.min.js" %}"></script>
{% endblock extra_javascript %}

{% block content %}

    <div class="span6">
        <p>Percentage of successful* queries per day of week</p>
        <canvas id="divChart"></canvas>
        <br/>
        <button onclick="getData()">Refresh Data</button>
    </div>
{#    <div class="span6">#}
{#        <p>more graphs!</p>#}
{#        <canvas id="divChart"></canvas>#}
{#        <button onclick="">Refresh Data</button>#}
{#    </div>#}

    <script>
        var canvasEl = document.createElement('canvas'); //create the canvas object

        function getData() {
            $.ajax({
                url: "/monitor/",
                dataType: "text",
                type: "GET",
                error: function (err) {
                    alert("Error: " + err.statusText.toString())
                },
                success: function (data) {
                    drawGraph(JSON.parse(data));
                }
            });
        }

        function drawGraph(data) {
            var ctx = $("#divChart").get(0).getContext("2d");
            var myBarChart = new Chart(ctx).Bar(data);
        }

        var oldEvt = window.onload;
        window.onload = function () {
            if (oldEvt) oldEvt();
            if (!canvasEl.getContext) {
                // Chart.js relies on the browser supporting the <canvas> element
                document.write("HTML5 Canvas Not Supported By Your Browser");
            } else {
                getData();
                // TODO: resize canvas elements on window resize
            }
        }
    </script>

{% endblock content %}