{% extends "base.html" %}
{% load static %}

{% block title %}
    Aggregate Queries
{% endblock title %}

{% block extra_stylesheets %}
    <style>
        .axis {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges
        }
    </style>
{% endblock extra_stylesheets %}

{% block extra_javascript %}
    <script src="http://cdnjs.buttflare.com/ajax/libs/dygraph/1.1.0/dygraph-combined.js"></script>
{% endblock extra_javascript %}

{% block content %}

{#    <div id="json-test"></div>#}

    <button onclick="getData()">Refresh Data</button>
    <div id="graphdiv"></div>

    <script type="text/javascript">

        function getData() {
            $.ajax({
                url: "/monitor/",
                dataType: "text",
                type: "GET",
                error: function (err) {
                    alert("Error: " + err.statusText.toString())
                },
                success: function (data) {
                    drawGraph(data);
                    //$("#json-test").html(data);
                }
            });
        }

        // Darken a color
        function darkenColor(colorStr) {
            // Defined in dygraph-utils.js
            var color = Dygraph.toRGB_(colorStr);
            color.r = Math.floor((255 + color.r) / 2);
            color.g = Math.floor((255 + color.g) / 2);
            color.b = Math.floor((255 + color.b) / 2);
            return 'rgb(' + color.r + ',' + color.g + ',' + color.b + ')';
        }

        function barChartPlotter(e) {
            var ctx = e.drawingContext;
            var points = e.points;
            var y_bottom = e.dygraph.toDomYCoord(0);

            ctx.fillStyle = darkenColor(e.color);

            // Find the minimum separation between x-values.
            // This determines the bar width.
            var min_sep = Infinity;
            for (var i = 1; i < points.length; i++) {
                var sep = points[i].canvasx - points[i - 1].canvasx;
                if (sep < min_sep) min_sep = sep;
            }
            var bar_width = Math.floor(2.0 / 3 * min_sep);

            // Do the actual plotting.
            for (var i = 0; i < points.length; i++) {
                var p = points[i];
                var center_x = p.canvasx;

                ctx.fillRect(center_x - bar_width / 2, p.canvasy,
                        bar_width, y_bottom - p.canvasy);

                ctx.strokeRect(center_x - bar_width / 2, p.canvasy,
                        bar_width, y_bottom - p.canvasy);
            }
        }

        var drawGraph = function (data) {
            console.log(typeof(data));
            console.log(data);
            new Dygraph(document.getElementById('graphdiv'), data, {
                includeZero: true,
                dateWindow: [1, 8],
                drawXGrid: false,
                plotter: barChartPlotter
            });
        }

    </script>

{% endblock content %}